body {
	margin: 0;
	padding: 0;
}

.title-container {
	padding: 16px;
	margin-top: 64px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 69, 0);
	border-radius: 12px 12px 0px 0px;
	width: 60%;
	overflow: hidden;
	color: white;
}

.form-container {
	padding: 16px;
	margin-bottom: 64px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 69, 0, 0.4);
	width: 60%;
	border-radius: 0px 0px 12px 12px;
}